@model IEnumerable<SignatureRequest>

@{
    ViewData["Title"] = "Sign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sign</h1>
<p>
    <a asp-action="RequestSignature">Create new sign request</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Sender 
            </th>
            <th>
                File Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.SenderUserName
                </td>
                <td>
                    @item.FileName
                </td>
                <td>
                    
                </td>
            </tr>
        }
    </tbody>
</table>