@model IEnumerable<FYP.Models.UserInfo>

@{
    ViewData["Title"] = "Authorize";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var FileName = TempData["FileName"];
}

<h1>Authorize</h1>

<table class="table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>User Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td>N/A</td>
                <td>N/A</td>
                <td></td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserAccess.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <form asp-action="AuthorizeAction" asp-route-FileName="@FileName" asp-route-UserId="@item.UserAccess.UserId">
                            <input type="submit" value="Authorize" class="btn btn-primary" />
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

