@model IEnumerable<ActivitiesViewModel>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home</h1>

<h5>Recent Activities</h5>

<table class="table">
    <thead>
        <tr>
            <th>Activities</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Activity
                    </td>
                    <td>
                        @item.TimeStamp
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@if (TempData["RegisterReturnMessage"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["RegisterReturnMessage"]");
            };
    </script>
}