@model IEnumerable<FYP.Models.UserInfo>

@{
    ViewData["Title"] = "ViewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var result = Model;
}

<h1>ViewUser</h1>
<h5>Belows are the users under the management of your account.</h5>
<p>
    <a asp-action="CreateUser">Create a new User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>User Id</th>
            <th>User Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td>N/A</td>
                <td>N/A</td>
                <td></td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserAccess.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <div class="btn-group float-right">
                            <form asp-action="DeleteUser" asp-route-UserId=@item.UserAccess.UserId class="d-inline-block mx-1">
                                <input type="submit" value="Delete User" class="btn btn-primary" />
                            </form>
                            <form asp-action="Unauthorize" asp-route-UserId=@item.UserAccess.UserId class="d-inline-block mx-1">
                                <input type="submit" value="View File" class="btn btn-secondary" />
                            </form>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@if (TempData["DeleteUserReturnMessage"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["DeleteUserReturnMessage"]");
            };
    </script>
}

@if (TempData["CreateUserReturnMessage"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["CreateUserReturnMessage"]");
            };
    </script>
}